{% extends 'base.html.twig' %}

{% block pageJavascripts %}
    <script type="application/javascript">
        $(window).on('load',function(){
            $("#tabs").tabs({
            load: function(event, ui) { showCompo(); }
            });

            $('#addJoueur').click(function(){
                var joueurOption = $('#joueurSelect').children(':selected');
                var guildeOption = $('#guildeSelect').children(':selected');
                var spanNbJoueur = $('#nbJoueur');
                if($('#joueurListe').children('li[data-joueur-id='+joueurOption.val()+']').length > 0){
                    return;
                }
                var li = $('<li></li>');
                li.html(joueurOption.html()+'('+guildeOption.html()+')<a class="delJoueur" data-joueur-id="'+joueurOption.val()+'" href="#"><img src="{{asset('images/remove.png')}}" style="max-width:20px"/></a>');
                li.attr('data-joueur-id',joueurOption.val());
                li.append('<input type="hidden" name="belligerants[]" value="'+joueurOption.val()+'-'+guildeOption.val()+'"/>');
                $('#joueurListe').append(li);
                var nbJoueur = $('#nbJoueur').html();
                if(nbJoueur == ''){
                    $('#nbJoueur').html('1');
                }
                else{
                    nbJoueur++;
                    $('#nbJoueur').html(nbJoueur);
                }
                return false;
            });

            $(document).on('click','.img-perso', function(){
                var _this = $(this);
                var option = $('option[data-option-id='+_this.attr('data-option-id')+']');
                if(option.is(':selected')){
                    option.prop('selected',false);
                    _this.css('opacity','0.33');
                }
                else{
                    option.prop('selected',true);
                    _this.css('opacity','1');
                }
            });


        });
        $(document).on('click','.delJoueur',function(){
            var _this = $(this);
            _this.parent('li').remove();
            var spanNbJoueur = $('#nbJoueur');
            var nbJoueur = $('#nbJoueur').html();
                if(nbJoueur == '1'){
                    $('#nbJoueur').html('');
                }
                else{
                    nbJoueur--;
                    $('#nbJoueur').html(nbJoueur);
                }
        });

        var showCompo = function(){
            $.each($('.personnagesJoueur'), function(index,iter){
                var _this = $(this);
                $.ajax({
                    url : "/personnages?guildeId="+_this.attr('data-guilde-id'),
                    success : function(data, textStatus, jqXHR){
                            _this.html('');
                            var select = $("#"+_this.attr("data-select-id"));
                            select.html('');
                            var belligerantId = _this.attr("data-belligerant-id");
                            $.each(JSON.parse(data),function(index, iter){
                                _this.append("<img src='/images/personnages/"+iter.code+".png' style='max-width:40px;opacity:0.33' class='img-perso' data-option-id='"+belligerantId+"_"+iter.id+"'/>");
                                select.append("<option data-option-id='"+belligerantId+"_"+iter.id+"' value='"+iter.id+"'>"+iter.nom+"</option>");
                            });
                            loadSelection(belligerantId);
                        }
                });
            });

            loadSelection();

        }

        var loadSelection = function(belligerantId) {
            for (var key in arrayBelligerant) {
                var belligerant = arrayBelligerant[key].idBelligerant;
                if(belligerantId == belligerant){
                    arrayBelligerant[key].personnages.forEach(function(item, index, array){
                        $("img[data-option-id="+belligerant+"_"+item+"]").click();
                    })
                }
            }
        };

    </script>
{% endblock %}


{% block title %}Gestion de tournoi{% endblock %}

{% block body %}

<div class="content">
    <h1>{{ tournoi.nom }}</h1>

   <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Dashboard</a></li>
            {% for ronde in rondes %}
                <li><a href="{{ path('app_tournoi_ronde', {'tournoiId' : tournoi.id, 'ronde' : ronde['ronde']}) }}">Ronde {{ronde['ronde']}}</a></li>
            {% endfor %}
        </ul>
    <div id="tabs-1">
            {% if rondes|length == 0 %}
                {{ form_start(form) }}
                    <h3>Info sur le tournoi</h3>
                    {{ form_row(form.id) }} 
                    {{ form_row(form.useSeeds) }} 
                    <h4>Joueurs (<span id="nbJoueur"></span>)<h4>
                    Ajouter:
                    <select id="joueurSelect">
                        {% for joueur in joueurs %}
                            <option value="{{joueur.id}}">{{joueur.nom}}</option>
                        {% endfor %}
                    </select>
                    <select id="guildeSelect">
                        {% for guilde in guildes %}
                            <option value="{{guilde.id}}">{{guilde.nom}}</option>
                        {% endfor %}
                    </select>
                    <input type="button" id="addJoueur" value="Ajouter" />
                    <ul id="joueurListe">

                    </ul>
                    <h3>Première ronde</h3>
                    {{ form_row(form.missionControle) }} 
                    {{ form_row(form.missionCombat) }} 
                    {{ form_row(form.rixe) }} 
                {{form_end(form)}}
            {% else %}
               Utiliser le seed pour faire les rondes : {{dto.useSeeds == null ? 'N/A' : dto.useSeeds}}
               <br/>
               Joueurs:
               <ul>
                    {% for joueur in dto.joueurs %}
                        <li>({{dto.joueurCountGames[joueur.id]['totalWins']}} - {{dto.joueurCountGames[joueur.id]['ties']}} / {{dto.joueurCountGames[joueur.id]['total']}}){{joueur.nom}} ({{joueur.zits == null? 0 : joueur.zits}})
                    {% endfor %}
               </ul>
               {{rondes|last['ronde']}} rondes
            {% endif %}
    </div>

</div>
{% endblock %}
