{% extends 'base.html.twig' %}

{% block title %}Détails du classement ZITS de {{joueur.nom}}{% endblock %}

{% block body %}

<div class="content">
    <h2>Tournoi(s) de <a href="{{ path('app_stats_game', {'joueurId' : joueur.id}) }}">{{joueur.nom}}</a></h2>
    <table class="games" style="max-width:1100px;">
            <tr>
                <th>
                    Date
                </th>
                <th style="width:200px;">
                    Tournoi
                </th>
                <th>
                    Rang
                </th>
                <th style="width:200px;">
                    Zits
                </th>
            </tr>
            

            {% for rank in ranks %}
                <tr style="{% if loop.index % 2 == 0 %}background-color:rgb(40, 135, 140,0.5);{% else %}background-color:rgb(210, 149, 50,0.5);{% endif %}">
                    <td>
                        {{rank.tournoi.date|date("d/m/Y")}}
                    </td>
                    <td>
                        <a href="{{ path('app_zits_tournoi_detail', {'tournoiId' : rank.tournoi.id}) }}">{{rank.tournoi.nom}}</a>
                        <span title="Cote du tournoi">({{rank.tournoi.zitsCote}})</span>
                    </td>
                    <td>
                    {% if rank.position < 4 %}
                        <div style="display:inline-block;">
                            <img src="{{asset('images/cup_'~rank.position~'.png')}}"  title="Multiplicateur : {{rank.ratio|round(2)}}" style="max-width:20px;vertical-align: middle;"/>
                        </div>
                    {% else %}
                        <span title="Multiplicateur : {{rank.ratio|round(2)}}">{{rank.position}}</span>
                    {% endif %}
                    </td>  
                    <td>
                        <span title="multiplicateur_rang*cote*fading ({{rank.ratio|round(2)}}*{{rank.tournoi.zitsCote}}*{{((12-rank.tournoi.zitsFadingMonthElapsed)/12)|round(2)}})">{{rank.zitsEarned}}</span>
                         {% if rank.tournoi.zitsFadingMonthElapsed > 0 %}
                            <div style="display:inline-block;">
                                <img src="{{asset('images/hourglass.png')}}" title="Fading appliqué : {{12-rank.tournoi.zitsFadingMonthElapsed}}/12 ({{(rank.ratio*rank.tournoi.zitsCote)|round(0)}} sans Fading)" style="max-width:20px;vertical-align: middle;"/>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
             <tr>
                <td colspan="3">
                    Total
                </td>
                <td>
                    {{joueur.zits}}
                </td>
            </tr>


    </table>

    <h2>Tournoi(s) archivés de {{joueur.nom}}</h2>
    <table class="games" style="max-width:1100px;">
            <tr>
                <th>
                    Date
                </th>
                <th style="width:200px;">
                    Tournoi
                </th>
                <th>
                    Rang
                </th>
                <th style="width:200px;">
                    Zits
                </th>
            </tr>

            {% for rank in archivedRanks %}
                <tr style="{% if loop.index % 2 == 0 %}background-color:rgb(40, 135, 140,0.5);{% else %}background-color:rgb(210, 149, 50,0.5);{% endif %}">
                    <td>
                        {{rank.tournoi.date|date("d/m/Y")}}
                    </td>
                    <td>
                        <a href="{{ path('app_stats_game', {'tournoiId' : rank.tournoi.id, 'joueurId' : rank.joueur.id}) }}">{{rank.tournoi.nom}}</a>
                    </td>
                    <td>
                        {{rank.position}}
                    </td>  
                    <td>
                        {{(rank.ratio * rank.tournoi.zitsCote)|round(0)}}
                    </td>
                </tr>
            {% endfor %}


    </table>

</div>
{% endblock %}
