{% extends 'base.html.twig' %}

{% block pageJavascripts %}
    <script type="application/javascript">
    $(document).ready(function(){

        var gamerId = '{{form.vars.value.gameId}}';

        $("#form_guilde1").change(function(){
            var _this = $(this);
            changeGuilde(_this.val(),"1");
        });
        $("#form_guilde1").change();
        
        $("#form_guilde2").change(function(){
            var _this = $(this);
            changeGuilde(_this.val(),"2");
        });
        $("#form_guilde2").change();

        $("#form_rixe").change(function(){
            var _this = $(this);
            if(_this.is(':checked')){
                $('#form_personnage5Joueur1').attr('disabled','disabled');
                $('#form_personnage5Joueur2').attr('disabled','disabled');
            }
            else{
                $('#form_personnage5Joueur1').removeAttr('disabled');
                $('#form_personnage5Joueur2').removeAttr('disabled');
            }
        });

        $("#form_vainqueur1").change(function(){
            var _this = $(this);
            if(_this.is(':checked')){
                 if(_this.is(':checked')){
                    $('#form_vainqueur2').prop("checked",false);
                }
            }
        });

          $("#form_vainqueur2").change(function(){
            var _this = $(this);
            if(_this.is(':checked')){
                 if(_this.is(':checked')){
                    $('#form_vainqueur1').prop("checked",false);
                }
            }
        });


    });

    var changeGuilde = function(guilde,numeroJoueur){
        $.ajax({
            url : "/personnages/"+guilde,
            success(data, textStatus, jqXHR){
               var select = $('#form_personnage1Joueur'+numeroJoueur);
               select.html('');
                $.each(JSON.parse(data),function(index, iter){
                select.append("<option value='"+iter.id+"'>"+iter.nom+"</option>");
               });
               select = $('#form_personnage2Joueur'+numeroJoueur);
               select.html('');
                $.each(JSON.parse(data),function(index, iter){
                select.append("<option value='"+iter.id+"'>"+iter.nom+"</option>");
               });
               select = $('#form_personnage3Joueur'+numeroJoueur);
               select.html('');
                $.each(JSON.parse(data),function(index, iter){
                select.append("<option value='"+iter.id+"'>"+iter.nom+"</option>");
               });
               select = $('#form_personnage4Joueur'+numeroJoueur);
               select.html('');
                $.each(JSON.parse(data),function(index, iter){
                select.append("<option value='"+iter.id+"'>"+iter.nom+"</option>");
               });
               select = $('#form_personnage5Joueur'+numeroJoueur);
               select.html('');
                select.append("<option value=''></option>");
                $.each(JSON.parse(data),function(index, iter){
                    select.append("<option value='"+iter.id+"'>"+iter.nom+"</option>");
                });
               if(numeroJoueur='1'){
                {% if form.vars.value.personnage1Joueur1 is not null %}
                    $('#form_personnage1Joueur1').children("option[value={{form.vars.value.personnage1Joueur1.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage2Joueur1 is not null %}
                    $('#form_personnage2Joueur1').children("option[value={{form.vars.value.personnage2Joueur1.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage3Joueur1 is not null %}
                    $('#form_personnage3Joueur1').children("option[value={{form.vars.value.personnage3Joueur1.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage4Joueur1 is not null %}
                    $('#form_personnage4Joueur1').children("option[value={{form.vars.value.personnage4Joueur1.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage5Joueur1 is not null %}
                    $('#form_personnage5Joueur1').children("option[value={{form.vars.value.personnage5Joueur1.id}}]").attr("selected","selected");
                {% endif %}
               }
               if(numeroJoueur='2'){
                {% if form.vars.value.personnage1Joueur1 is not null %}
                    $('#form_personnage1Joueur2').children("option[value={{form.vars.value.personnage1Joueur2.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage2Joueur1 is not null %}
                    $('#form_personnage2Joueur2').children("option[value={{form.vars.value.personnage2Joueur2.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage3Joueur1 is not null %}
                    $('#form_personnage3Joueur2').children("option[value={{form.vars.value.personnage3Joueur2.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage4Joueur1 is not null %}
                    $('#form_personnage4Joueur2').children("option[value={{form.vars.value.personnage4Joueur2.id}}]").attr("selected","selected");
                {% endif %}
                {% if form.vars.value.personnage5Joueur1 is not null %}
                    $('#form_personnage5Joueur2').children("option[value={{form.vars.value.personnage5Joueur2.id}}]").attr("selected","selected");
                {% endif %}
               }
            }
        });
    };

</script>

{% endblock %}

{% block body%} 




{% if form.vars.value.gameId == null %}
    Création d'une partie 
{% else %}
    Modification d'une partie
{% endif %}


{{ form_start(form) }}
    {{ form_row(form.date) }}
     {{ form_row(form.tournoi) }} 
    {{ form_row(form.rixe) }}
    {{ form_row(form.missionControle) }}   
    {{ form_row(form.missionCombat) }} 
    <br/>
    <div style="display: inline-block;width:400px;">
    {{ form_row(form.joueur1) }} 
    {{ form_row(form.vainqueur1) }}
    {{ form_row(form.scoreJoueur1) }}
    {{ form_row(form.guilde1) }}
    {{ form_row(form.personnage1Joueur1) }}
    {{ form_row(form.personnage2Joueur1) }}
    {{ form_row(form.personnage3Joueur1) }}
    {{ form_row(form.personnage4Joueur1) }}
    {{ form_row(form.personnage5Joueur1) }}
    </div>
    <div style="display: inline-block;width:400px;">
    {{ form_row(form.joueur2) }} 
    {{ form_row(form.vainqueur2) }}
    {{ form_row(form.scoreJoueur2) }}
    {{ form_row(form.guilde2) }}
    {{ form_row(form.personnage1Joueur2) }}
    {{ form_row(form.personnage2Joueur2) }}
    {{ form_row(form.personnage3Joueur2) }}
    {{ form_row(form.personnage4Joueur2) }}
    {{ form_row(form.personnage5Joueur2) }} 
    </div>

{{ form_end(form) }}

<a href="{{ path('resultat_list') }}">< Retour</a>

{% endblock %}
