<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block pageJavascripts %}

        {% endblock %}
    </head>
    <body>
        <div class="topbar">
            <a href="{{ path('app_ranking') }}"><img class="imgMenu" src="{{asset('images/ranking.png')}}" title="Classement elo" /></a>
            <a href="{{ path('app_game') }}"><img class="imgMenu" src="{{asset('images/table.png')}}" title="Histoire des parties" /></a>
            <a href="{{ path('app_stats') }}"><img class="imgMenu" src="{{asset('images/data-visualization.png')}}" title="Statistiques" /></a>
            <span style="float:right;"><a href="{{ path('resultat_list') }}"><img class="imgMenu" src="{{asset('images/file.png')}}" title="Résultats" /></a></span>
            <span style="float:right;"><a href="{{ path('admin') }}"><img class="imgMenu" src="{{asset('images/affaires.png')}}" title="Admin" /></a></span>
        </div>
        {% block body %}{% endblock %}

        <div class="bottomBar">Les images du jeu Caeris appartiennent à la société Occicat (www.occicat.com)</div>
    </body>
</html>
