{% extends 'base.html.twig' %}

{% block title %}Statistiques sur le jeu de tournoi{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Statistiques</h1>

    TOP 3 Guildes les plus jouées
    <ol>
        {% for key,value in countGuilde %}
            <li>{{value['nom']}} : ({{((value['count']/totalBelligerants)*100)|round(1)}}% {{value['count']}}/{{totalBelligerants}})</li>
            {% if loop.index > 3 %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    </ol>
    <br/>
    TOP 5 Compo les plus jouées
    <ol>
        {% for key,value in compoCount %}
            {% if value['count'] > 1 %}
                <li style="margin-bottom:25px;">{{((value['count']/totalCompo)*100)|round(1)}}% ({{value['count']}}/{{totalCompo}}) : 
                    <div style="display:inline-block;vertical-align:middle;">
                        {% for stringToParse in value['code']|split('_') %}
                            {% if loop.index == 1 %}
                                <img src="{{asset('images/guilde/'~stringToParse~'.png')}}" title="{{stringToParse}}" style="max-width:50px;" />
                            {% endif %}
                            {% if loop.index > 1 and loop.index %}
                                {% for perso in stringToParse|split('-') %}
                                    <img src="{{asset('images/personnages/'~perso~'.png')}}" title="{{perso}}" style="max-width:50px;" />
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endif %}
            {% if loop.index > 5 %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    </ol>
    <br/>
    TOP 1 Personnages les plus jouées par guilde
    <ul>
        {% for key,value in personnagesCountByGuilde %}
            <li>
                {{key}} : 
                {% if value %}
                    <div style="display:inline-block;vertical-align:middle;">
                        <img src="{{asset('images/personnages/'~value[0]['code']~'.png')}}" title="{{value[0]['code']}}" style="max-width:50px;"/> 
                    </div>
                    ({{((value[0]['count']/countbyGuildes[key])*100)|round(1)}}%) 
                {% else %}
                    Pas de donnée
                {% endif %}
            </li> 
        {% endfor %}
    </ul>
</div>
{% endblock %}
