{% extends 'base.html.twig' %}

{% block title %}Statistiques sur le jeu de tournoi{% endblock %}

{% block body %}

<div class="content">
    <h1>Statistiques</h1>

    Popularité des Guildes
    <ol>
        {% for key,value in countGuilde %}
            <li>
                <div style="display:inline-block;vertical-align:middle;">
                    <a href="{{ path('app_game', {'guildeCode' : key}) }}" style="text-decoration:none;">
                        <img src="{{asset('images/guilde/'~key~'.png')}}" title="{{value['nom']}}" style="max-width:50px;" />
                    </a>
                </div>
                : {{((value['count']/totalBelligerants)*100)|round(1)}}% ({{value['count']}}/{{totalBelligerants}})
            </li>
        {% endfor %}
    </ol>
    <a href="{{path('app_stats_guilde')}}">Plus de stats sur les guildes </a>
    <br/>
    TOP 3 Compo les plus jouées
    <ol>
        {% for key,value in compoCount %}
            {% if value['count'] > 1 %}
                <li style="margin-bottom:25px;">{{((value['count']/totalCompo)*100)|round(1)}}% ({{value['count']}}/{{totalCompo}}) : 
                    <div style="display:inline-block;vertical-align:middle;">
                        {% for stringToParse in value['code']|split('_') %}
                            {% if loop.index == 1 %}
                                <a href="{{ path('app_game', {'guildeCode' : stringToParse}) }}" style="text-decoration:none;">
                                    <img src="{{asset('images/guilde/'~stringToParse~'.png')}}" title="{{stringToParse}}" style="max-width:50px;" />
                                </a>
                            {% endif %}
                            <a href="{{ path('app_game', {'compoCode' : value['code']}) }}" style="text-decoration:none;">
                                <span>
                                    {% if loop.index > 1 and loop.index %}
                                        {% for perso in stringToParse|split('-') %}
                                            <img src="{{asset('images/personnages/'~perso~'.png')}}" title="{{perso}}" style="max-width:50px;" />
                                        {% endfor %}
                                    {% endif %}
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    <br/>
    TOP 1 Personnages les plus jouées par Guilde
    <ul>
        {% for key,value in personnagesCountByGuilde %}
            <li>
                {{key}} : 
                {% if value %}
                    <div style="display:inline-block;vertical-align:middle;">
                        <img src="{{asset('images/personnages/'~value[0]['code']~'.png')}}" title="{{value[0]['code']}}" style="max-width:50px;"/> 
                    </div>
                    ({{((value[0]['count']/countbyGuildes[key])*100)|round(1)}}%) 
                {% else %}
                    Pas de donnée
                {% endif %}
            </li> 
        {% endfor %}
    </ul>
</div>
{% endblock %}
